<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title><center>Welcome</center></title>
</head>
<body style= "background-color: antiquewhite">

    <h1>Welcome to IAU students list!</h1>
    <br>
    <div style="text-align: center;"> <a th:href="@{/customers}" style="font-size: xx-large">Show all students</a></div>
<div style="text-align: center;"><p><img src="Logo_AlaToo.png"></p></div>
</body>
</html>